
header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #203040;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 15px;
}
@media screen and (max-width: 600px) {
    header {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        background-color: #203040;
        width: 100%;
        position: fixed;
        z-index: 10;
        padding: 15px;
    } 
}
.box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.box a {
    text-decoration: none;
    margin-top: 10px;
    color: teal;
    font-size: 2.5rem;
    font-weight: 700;
}
.box a:hover {
    -webkit-text-stroke: 3px indianred;
    opacity: 1;
    transition: 2s ease-in-out;
}
.box-2 {
    flex-wrap: wrap;
}
.box-2 ul {
    display: flex;
    align-items: center;
    margin-left: 60%;
    gap: 5%;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    padding: 15px;
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: 600;
}
.containers {
    display: grid !important;
    grid-template-columns:repeat(3, auto) ;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
   border: thin solid red;
   margin: auto;
   padding-block: 3rem;
   border-radius: 10px;
}

.containers :nth-child(1){
    background-color: transparent;
}
.containers :nth-child(2){
    background-color: transparent;
}
.containers :nth-child(3){
    margin: auto;
}
.containers :nth-child(4){
    margin: auto;
}
.containers :nth-child(5){
   margin: auto;
}
.containers :nth-child(6){
   margin: auto;
}
.containers :nth-child(7){
   margin: auto;
}
.containers :nth-child(8){
   margin: auto;
}
h4 {
    display: flex;
    padding: 35px;
    margin-top: -67px;
    margin-left: 10px;
    position: absolute;
    text-transform: uppercase;
    color: red;
}
.box_1 h4 img {
    display: flex;
    align-items: center;
    
    
}
.link-up {
    margin-top: 10%;
    display: block;
    text-align: center;
}
strong {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: red;
    letter-spacing: 1px;
}
.link-up p {
    margin: auto;
    padding: 0px;
    width: 60%;
    margin-bottom: 20px;
}
img {
    width: 40px;
    margin-top: 10px;
}
p {
    
    padding-left: 15px;
    margin: auto;
    font-weight: 500;
    margin-left: 30px;
}



footer {
    background-color: #203040;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, auto);
    padding: 20px 30px;
    margin-top: 30px;
}